html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(90deg, #d20bf5, #3c03ac);
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 7px;
    transition: 0.3s;
}

.nav-links a:hover {
    background: linear-gradient(90deg, #d20bf5, #3b08a1);
}

/* ===== MAIN ===== */
main {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main-btn {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #111;
    background: linear-gradient(90deg, #d20bf5, #3c03ac);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}

.main-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.main-img {
    width: 315px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.main-content p {
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

/* ===== FOOTER ===== */
footer {
    background: #696868;
    color: white;
    padding: 25px 15px;
    text-align: center;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
