html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(90deg, #d20bf5, #3c03ac);
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

/* NAV LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 7px;
    transition: 0.3s;
}

.nav-links a:hover {
    background: linear-gradient(90deg, #d20bf5, #3b08a1);
}

/* ===== MAIN ===== */
main {
    display: flex;
    flex-direction: column;
    align-items: center;     /* jen horizontálně */
    gap: 60px;               /* mezery mezi sekcemi */
    padding: 60px 20px;      /* prostor nahoře a dole */
}

/* OBSAH */
.main-content {
    position: relative;
}

/* BUTTON */
.main-btn {
        position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #111;
    background: linear-gradient(90deg, #d20bf5, #3c03ac);
    border: none;
    border-radius: 25px;
    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}

.main-btn:hover {
        transform: translateX(-50%) translateY(-5px) scale(1.1);
    box-shadow:
        0 0 10px rgba(210, 11, 245, 0.7),
        0 0 25px rgba(60, 3, 172, 0.7);
    filter: brightness(1.2);
}

/* OBRAZEK */
.main-img {
    width: 315px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* TEXT */
main p {
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

/* ===== FOOTER ===== */
footer {
    background: #696868;
    color: white;
    padding: 15px;
    text-align: center;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}